:host {
  background: beige;
  border: 1px solid #999;
  display: block;
  height: 25px;
  margin-top: 2px;
  border-radius: 3px;

  &:hover {
    .grid-cell {
      cursor: pointer;
      background: #fff;
    }
  }
}

.grid-cell {
  width: 25%;
  float: left;
  display: block;
  padding: 5px 0;

  &:first-of-type {
    padding-left: 10px;
    width: calc(25% - 10px);
  }

  &:last-of-type {
    padding-right: 10px;
    width: calc(25% - 10px);
  }
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 24px;
  height: 12px;
  margin-left: 40%;
}
.lds-ellipsis div {
  position: absolute;
  top: 6px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #545454;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 11px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 18px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(8px, 0);
  }
}
