:host {
  background: beige;
  border: 1px solid #999;
  display: block;
  height: 25px;
  margin-top: 2px;
  border-radius: 3px;

  &:hover {
    .grid-cell {
      cursor: pointer;
      background: #fff;
    }
  }
}

.grid-cell {
  width: 25%;
  float: left;
  display: block;
  padding: 5px 0;

  &:first-of-type {
    padding-left: 10px;
    width: calc(25% - 10px);
  }

  &:last-of-type {
    padding-right: 10px;
    width: calc(25% - 10px);
  }
}
